<section>
  <article>
      <h2>
          World Building
      </h2>
      <p>
          Where does your story take place? Likely, it's a completely different world, or realm, than our own.
          While not necessary, you may want to flesh it out. Here are some ideas to help you do so.
      </p>
      <h3>
          A Map
      </h3>
      <p>
          A drawing of where events occur can help players visualize your world.
      </p>
      <h3>
          Planes of Existence
      </h3>
      <p>
          Elixr is built with the idea that creatures live on one of 8 "planes" and that these planes overlap and can be traversed through magic.
          The planes are:
      </p>
      <ul>
          <li>
              Fire — Where creatures such Fire Elementals exist.
          </li>
          <li>
              Air — Where creatures such as Air Elementals exist.
          </li>
          <li>
              Earth — Where creatures such as Earth Elementals exist.
          </li>
          <li>
              Water — Where creatures such as Water Elementals exist.
          </li>
          <li>
              Infernal — Where demons exist.
          </li>
          <li>
              Celestial — Where angels exist.
          </li>
          <li>
              Astral — Where spectral creatures such as ghosts exist. This plane overlaps with the Material Plane.
          </li>
          <li>
              Material — where most creatures such humans, elves, dwarves, etc... exist.
          </li>
      </ul>
      <p>
          On the Astral Plane, creatures have no physical form. The Material and Astral planes overlap the most, almost exactly, in fact.
      </p>
      <p>
          Of course, you're free to make your own multiverse topography, what's included in Elixr is just an example.
      </p>
      <h3>
          Deities
      </h3>
      <p>
          What Gods exist in this world? Do you have one for each Race, perhaps? Or maybe there's a God for every natural phenomenon. It's up to you.
      </p>
      <h3>
          History and Culture
      </h3>
      <p>
          What wars have been fought? What bloodlines claim power? Who are the movers and shakers of the world?
      </p>
  </article>
</section>
<div class="chapter-nav">
    <a routerLink="/srd/running-elixr">
        <i class="fa fa-angle-double-left"></i>
        Running Elixr
    </a>
</div>