<section>
  <article>
    <h2>
      Exploration
    </h2>
    <p>
      As you explore the world, it's likely that you'll run into some environmental dangers. Some rules for dealing with these
      are detailed below.
    </p>
    <h3>
      Falling
    </h3>
    <p>
      When a creature falls more than 10ft, they will take Damage once they hit the ground. This table indicates how much damage
      is given for differnt heights:
    </p>
    <table class="lxr-table">
      <tr>
        <th>
          Fall Height
        </th>
        <th>
          Damage
        </th>
      </tr>
      <tr>
        <td>
          10ft
        </td>
        <td>
          0
        </td>
      </tr>
      <tr>
        <td>
          20ft
        </td>
        <td>
          1d4
        </td>
      </tr>
      <tr>
        <td>
          30ft
        </td>
        <td>
          1d4 + 1d6
        </td>
      </tr>
      <tr>
        <td>
          40ft
        </td>
        <td>
          1d4 + 1d6 + 1d8
        </td>
      </tr>
      <tr>
        <td>
          50ft
        </td>
        <td>
          1d4 + 1d6 + 1d8 + 1d10
        </td>
      </tr>
      <tr>
        <td>
          60ft
        </td>
        <td>
          1d4 + 1d6 + 1d8 + 1d10 + 1d12
        </td>
      </tr>
      <tr>
        <td>
          70ft
        </td>
        <td>
          1d4 + 1d6 + 1d8 + 1d10 + 1d12 + 1d20
        </td>
      </tr>
      <tr>
        <td>
          80ft+
        </td>
        <td>
          Fatal
        </td>
      </tr>
    </table>
    <p>
      If a creature intentionally jumps, the fall height is considered to be 10ft less than it actually was for Damage purposes.
    </p>
    <p>
      If a creature didn't intentionally jump, but makes an Acrobatics check that exceeds 10 + 1 for every 10ft fallen, the fall
      height is considered to be 10ft less than it actually was for Damage purposes.
    </p>
    <p>
      If a creature lands in water, the fall height is considered to be 10ft less than it actually was for Damage purposes. This
      stacks on top of the reduction offered by a successful acrobatics check or intentional jump, if any.
    </p>
    <p>
      If a creature lands on another creature, the fall damage is split between the two creatures evenly.
    </p>
    <h3>
      Drowning &amp; Suffocating
    </h3>
    <p>
      Creatures can stay without access to air for 1 round per their Strength Score. After that, for every round that they cannot
      breathe, they lose 1 Energy at the start of their turn.
    </p>
    <h3>
      Thirst &amp; Starvation
    </h3>
    <p>
      A character can go without water for a number of days equal to their level.
    </p>
    <p>
      A character can go without eating for a number of days equal to their level * 2.
    </p>
    <p>
      Once a character has gone longer than mentioned without food or water, their Max Energy is reduced by the amount of days
      they have gone without sustenance.
    </p>
    <p>
      For example, a level 3 character with Energy of 16 goes without water for 7 days. At the start of the 4th day, their Max
      Energy is reduced by 1.
    </p>
    <p>
      This continues for each day until at the start of the 7th day, the character's Max Energy has been reduced by 1 four times,
      bringing their Max Energy down to 12.
    </p>
    <p>
      Suppose same character goes without food for 13 days. Because they can go 6 days (their level * 2), without food, it's on
      the start of the 7th day that character begins to reduce their Max Energy.
    </p>
  </article>
</section>
<div class="chapter-nav">
    <a routerLink="/srd/playing-elixr/social-interaction">
        <i class="fa fa-angle-double-left"></i>
        Social Interaction
    </a>
</div>