<section>
  <article>
    <h2>
      Weapons
    </h2>
    <p>
      Weapon's are used to increase a character's effectiveness in combat. Weapon descriptions include: Attack Ability, Damage
      Ability, Damage, and Range.
    </p>
    <h3>
      Attack Ability
    </h3>
    <p>
      When making an attack roll, a character takes the result of 1d20 + the Bonus of the
      <a routerLink="/srd/abilities">ability</a> as specified by this property of the weapon. If the result exceeds the target Defense, the character gets
      to roll Damage against the target. See the combat section of <i>Playing Elixr</i> for more information.
    </p>
    <h3>
      Damage Ability
    </h3>
    <p>
      On a successful attack, damage is rolled according to the damage property of the weapon (see below). 
      Then, the result of the damage roll is increased by the Bonus of the <a routerLink="/srd/abilities">ability</a> as specified by this property of the weapon.
    </p>
    <h3>
      Damage
    </h3>
    <p>
      On a successful a
      <a routerLink="/srd/abilities">ability</a> as specified by this propety of the weapon. If the result exceeds the target Defense, the character gets
      to roll Damage against the target.
    </p>
    <h3>
      Range
    </h3>
    <p>
      Indicates how far away from a target a weapon is effective. 
      While the distance to the target is within range, an attacker rolls normally.
      If the distance is to the target is still within double the range specified, the attacker may still roll, but with Disadvantage.
    </p>
  </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/equipment/armor">
    <i class="fa fa-angle-double-left"></i>
    Armor
  </a>
  <a routerLink="/srd/equipment/items" class="pull-right">
    Items
    <i class="fa fa-angle-double-right"></i>
  </a>
</div>

<app-weapons></app-weapons>