<section>
  <article>
    <h2>
      Flaws
    </h2>
    <p>
      Flaws are traits that detract from a character's effectiveness or personality.
    </p>
    <p>
      Some Flaws have positive trade offs. For example, a blind character has Advantage on Perception checks that relate to sound,
      at the cost of being unable to make Perception checks based off of sight at all.
    </p>
    <p>
      Other Flaws serve simply to make a character more interesting. Characters that are perfect are often seen as unrealistic,
      or worse, boring.
    </p>
  </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/characteristics/flaws">
      <i class="fa fa-angle-double-left"></i>
      Flaws
  </a>
  <a routerLink="/srd/characteristics/oaths" class="pull-right">
      Oaths
      <i class="fa fa-angle-double-right"></i>
  </a>
</div>

<app-characteristics [type]="flaws"></app-characteristics>