<section>
  <article>
    <h2>
      Actions
    </h2>
    <p>
      Any physical activity a creature wants to perform is referred to as an action. Typical actions include: Attacking, Travelling,
      Skill Checks, and Casting Spells. There are also Special Actions referred to as Maneuvers that have special rules and
      are described below.
    </p>
    <p>
      Talking during combat has no Speed Cost, but whatever is said must be able to be stated within 6-seconds.
    </p>
    <h3>
      Attacking
    </h3>
    <p>
      Making an Attack always has a Speed Cost of 30ft.
    </p>
    <p>
      To make an Attack, you roll an Attack Roll.
    </p>
    <p>
      An Attack Roll is 1d20 + The Bonus of the Ability specified by the Weapon's Attack Ability.
    </p>
    <p>
      If the result of an Attack roll is greater than the target's Defense, the attack succeeds and a Damage Roll is made.
    </p>
    <p>
      A Damage Roll is the damage of the weapon being wielded + the Bonus of the Ability specified by the weapon's Damage Ability.
    </p>
    <p>
      On a successful attack, the target of the attack reduces their Energy by the result of the Damage Roll.
    </p>
    <p>
      See the next <a routerLink="/srd/combat/healing">section</a> for what happens when Energy is reduced to 0 or below,
      as well as how to recover Energy.
    </p>
    <h4>
      Dual Wielding
    </h4>
    <p>
      Holding a weapon in each hand, sometimes called two-weapon fighting, allows a creature to make an attack with two weapons at once.
      A creature should have declared which hand is their dominant. If not declared, it is assumed their dominant is their right hand.
    </p>
    <p>
        A single attack roll is made for both weapons. On success, apply the damage of the weapon held in the dominant hand normally, 
        but for the weapon held in the non-dominant hand, only apply the Bonus of the Ability specified by that weapon's Damage Ability if the Bonus is negative.
    </p>
    <h3>
      Travelling
    </h3>
    <p>
      The simplest way to use Movement Speed is to walk or run.
    </p>
    <p>
      The Speed Cost of travelling on the ground in any direction is equal to the distance travelled.
    </p>
    <p>
      Therefore, moving 5ft consumes 5ft of Movement Speed. Moving 10ft consumes 10ft of Movement speed, and so on.
    </p>
    <aside>
      <h4>
        The Grid
      </h4>
      <p>
        It is often useful to imagine combat occurring on a grid consisting of 5'x5' squares.
      </p>
      <p>
        A Medium-sized humanoid creature occupies a single square on the grid, and advancing forward one square in any direction,
        including diagonally, has a Speed Cost of 5ft.
      </p>
      <p>
        Some larger creatures take up more space on the grid than one square. How much space is determined by their size Characteristic.
      </p>
      <p>
        Other creatures are so small that more than one of that type of creature can occupy the same square. How many can occupy
        the same square is determined by their size Characteristic.
      </p>
    </aside>
    <h3>
      Skill Checks
    </h3>
    <p>
      The description of a <a routerLink="/srd/skills">skill check</a> indicates the Speed Cost of the skill.
    </p>
    <p>
      Using a Skill in combat is typically no different than using a skill outside of combat.
    </p>
    <h3>
      Casting a Spell
    </h3>
    <p>
      The description of a <a routerLink="/srd/magic">spell</a> indicates the Speed Cost required in order to cast it.
    </p>
    <p>
      Once the Speed Cost has been applied to your character's Movement Speed, the spell effect is manifested.
    </p>
    <p>
      Casting a spell in combat is typically no different than using a spell outside of combat, other than a character should be
      wary that being hit while they have Channeled Energy will have repercussions detailed on the <a routerLink="/srd/magic">Magic</a>      page.
    </p>
    <p>
      Some spells call for a Spell Attack roll. This is 1d20 + your Focus Bonus + Any other bonuses from Features or enchanted
      items.
    </p>
    <p>
      If the Spell Attack roll result is greater than the targets Defense, you can apply damage as indicated by the spell description.
    </p>
    <h3>
      Other Actions
    </h3>
    <p>
      For any other actions a player wants to attempt, a Speed Cost is assigned by the GM. Here are some common examples and what
      their Speed Cost might be:
    </p>
    <table>
      <tr>
        <th>
          Action
        </th>
        <th>
          Speed Cost
        </th>
      </tr>
      <tr>
        <td>
          Drop Weapon
        </td>
        <td>
          0ft
        </td>
      </tr>
      <tr>
        <td>
          Sheath/Unsheath Weapon
        </td>
        <td>
          5ft
        </td>
      </tr>
      <tr>
        <td>
          Drink a Potion
        </td>
        <td>
          15ft
        </td>
      </tr>
      <tr>
        <td>
          Stand up from prone.
        </td>
        <td>
          20ft
        </td>
      </tr>
    </table>
    <h3>
      Delay Action
    </h3>
    <p>
      Sometimes you want to perform your actions after another event has occurred.
    </p>
    <p>
      You can forgo your turn on your Initiative, and instead take your turn at the end of someone else's Initiative.
    </p>
    <p>
      This is called Delaying Action. On the next round, your turn occurs at your original Initiative.
    </p>
    <h3>
      Readying an Action
    </h3>
    <p>
      Sometimes you know something is going to occur, but can't react to it yet because it hasn't happened.
    </p>
    <p>
      In these cases you may Ready an Action by stating what action you will perform on what trigger.
    </p>
    <p>
      For example, you may say "I wait next to this wall, and when he comes around the corner, I attack him." This has a trigger:
      A target comes around a corner. It also has an Action: Attack the target.
    </p>
    <p>
      When stating your trigger, it should be specific. If you state you attack anyone the comes around the corner, you may end
      up hitting an ally unless you state that you'll check that the target is an enemy.
    </p>
    <p>
      When the trigger occurs, the Readied Action is resolved immediately, even if it is not your turn.
    </p>
  </article>
  <article>
    <h2>
      Maneuvers
    </h2>
    <p>
      Maneuvers are special actions that can be performed in combat. The maneuvers are: Shove, Trip, Grapple, and Disarm.
    </p>
    <p>
      To perform a Maneuver against a creature, an Athletics check is rolled. If the result exceeds the target's Athletics Defense,
      or the target's Acrobatics Defense, which ever is higher, the Maneuver succeeds. 
      Both the one attempting the Maneuver and the subject must be adjacent to each other.
    </p>
    <p>
      All Maneuvers have a Speed Cost of 30ft, which is applied whether or not the Maneuever is successful.
    </p>
    <p>
      What happens when a Maneuver succeeds depends on the Maneuever.
    </p>
    <h3>
      Shove
    </h3>
    <p>
      On a successful Shove Maneuver, the target is pushed back 5ft, or 1 square.
    </p>
    <h3>
      Trip
    </h3>
    <p>
      On a successful Trip Maneuver, the target falls to the ground, prone. The following conditions apply to a prone creature:
    </p>
    <ul>
      <li>
        Melee attacks made against the creature have Advantage.
      </li>
      <li>
        Ranged attacks made against the creature have Disadvantage.
      </li>
      <li>
        The creature may attack from the ground, but with Disadvantage.
      </li>
      <li>
        The creature can crawl or stand up. Crawling has a Speed Cost of 10ft for every 5ft travelled.
      </li>
    </ul>
    <h3>
      Grapple
    </h3>
    <p>
      On a successful Grapple Maneuver, the creature performing the Maneuver holds the target in place.
    </p>
    <p>
      Both the one that initiated the Manuever and the subject are considered Grappled. 
      The one that initiated the successful grapple is said to be "in control" of the grapple.
      The following conditions apply to both Grappled creatures:
    </p>
    <ul>
      <li>
        When an attack is made against a creature that is Grappled, there is a 50% chance of hitting the other creature.
      </li>
      <li>
        Both creatures share the same square as the creature that performed the Grab Maneuver.
      </li>
      <li>
        A Grappled creature cannot walk or run.
      </li>
      <li>
        A Grappled creature cannot cast a spell, unless they are allowed to cast the spell without the need to move their hands.
      </li>
      <li>
        A Grappled creature can make an attack against the creature they are engaged in a Grapple with.
      </li>
      <li>
        A Grappled creature can attempt a Maneuever against the creature they are engaged with.
        A creature that is not in control of the grapple can use this to attempt becoming the one in control of the grapple.
        <br> 
        Succeeding in a shove maneuver ends the grapple, but only causes the subject to no longer be sharing the same square.
        <br>
        For other Manevuers, the grapple continues regardless of the result.
      </li>
    </ul>
    <h3>
      Disarm
    </h3>
    <p>
      On a successful Disarm Maneuver, the target of the Maneuver drops their weapon.
    </p>
    <p>
      If the creature performing the Maneuver had no weapon in their hands when attempting the maneuever, they may choose to have
      the weapon in their hands instead of it falling to the floor.
    </p>
  </article>
</section>
<div class="chapter-nav">
  <a routerLink="/srd/playing-elixr/combat">
        <i class="fa fa-angle-double-left"></i>
        Combat
    </a>
  <a routerLink="/srd/playing-elixr/combat/healing" class="pull-right">
        Healing
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>