<section>
  <article>
    <h2>
      Magic
    </h2>
    <p>
      Magic is the ability to channel Energy into physical manifestations of power.
    </p>
    <p>
      The most common form of Magic is Spells, which use the Energy of the caster.
    </p>
    <h3>
      Learning a spell
    </h3>
    <p>
      Any character can learn spells, but they
      <strong>must</strong> provide a reason for how or why they learned magic. Some common examples are:
    </p>
    <ul>
      <li>
        You studied in the Mage College, poring over spell books, where you wrote down interesting ones in a book of your own, which
        you study and keep updated.
      </li>
      <li>
        Your bloodline has intristically been able to tap into mystical forces and gain power naturally.
      </li>
      <li>
        You made a deal with a supernatural beast for power in exchange for your allegiance.
      </li>
      <li>
        A deity you worship grants you the ability to channel their power as long as you spread word of their deeds.
      </li>
    </ul>
    <p>
      Each spell a character learns costs 1 Feature Point.
    </p>
    <p>
      Some characters, as a trait, have difficulty tapping into Magic. You decide if you want your character to fall into this
      category by not having them learn any spells.
    </p>
    <p>
      Characters that do not have a positive Focus Bonus (greater than 0) cannot cast spells.
    </p>
    <h3>
      Casting a spell
    </h3>
    <p>
      Here are the steps of casting a spell. Each step will be detailed below.
    </p>
    <ol>
      <li>
        Select a Spell to cast
      </li>
      <li>
        Declare how much Energy to "Channel"
      </li>
      <li>
        Record the casted spell under "Active Spells" on the Character Sheet
      </li>
      <li>
        Resolve the effects of the spell
      </li>
      <li>
        Prepare for the possibility of being hit between the end of this turn and the start of the next
      </li>
      <li>
        Prepare for upkeep at start of your next turn
      </li>
    </ol>
    <h4>
      Selecting a Spell
    </h4>
    <p>
      Choose a spell that your character already knows which isn't locked (see below). Casting any spell has a Movement Speed Cost
      of 30ft. All spells require the caster to say specific, arcane, words -- as well as move their hands to direct the
      Energy. If a caster is unable to articulate, or cannot move their hands, they cannot cast spells.
    </p>

    <h4>
      Declare how much Energy to "Channel"
    </h4>
    <p>
      The more Energy "channeled" for a spell, the more powerful/effective the spell is. A spell's description details how much
      Energy is needed to produce an effect under "Energy Requirement". The amount declared is added to your character's
      "Channeled Energy" (which begins at 0 and cannot exceed your Current Energy).
    </p>
    <p>
      By using a d20 (or other die with at least as many sides as your Max Energy), you can keep track of what your current Channeled
      Energy is. Every time you declare how much Energy to channel, increase the number shown on the face of the die by the
      amount declared.
    </p>
    <p>
      Channeled Energy can never be greater than a creature's Current Energy. If the declared amount of Energy to be channeled
      would cause a creature's Channeled Energy to be greater than their Current Energy, the spell cannot be cast using that
      declared amount.
    </p>
    <p>
      Even if a spell fails, Channeled Energy is still increased equal to the declared amount.
    </p>
    <h4>
      Record the casted spell under "Active Spells" on the Character Sheet
    </h4>
    <p>
      Enter the name of the casted spell and the declared amount of Energy channeled in the "Active Spells" section of the character
      sheet. Place a check in the concentration column if the Spell specifies it as a Concentration based spell (see Concentration
      below), per the Spell description.
    </p>
    <h4>
      Resolve the effects of the spell
    </h4>
    <p>
      If the spell calls for an attack, resolve that according to the combat page section. If an attack succeeds, or the spell
      specifies that damage is automatically dealt, roll damage now and apply to affected targets.
    </p>
    <p>
      For spells that require a "Penetration Check", roll this now and determine if the Penetration Check succeeds by being greater
      than the subject's Concentration Defense.
    </p>
    <p>
      For spells that cause a subject to perform an action, even if the Penetration Check is successful, the subject does not perform
      the action until it is the subject's turn as normal. See <i>Penetraton</i>, below.
    </p>
    <h4>
      Prepare for the possibility of being hit between the end of this turn and the start of the next
    </h4>
    <p>
      Having Channeled Energy carries certain risks. If you get hit, you must select one of two options:
      <i>"Lock" Active Spells</i>, or
      <i>"Flush" Channeled Energy.</i>
      The option you choose is entirely up to you. Both options are performed only after applying the damage from the hit as normal.
    </p>
    <p>
      If you choose Locking your spells, place a checkmark in the "Locked" column of Active Spells for each spell currently active.
      <strong>These spells cannot be cast again until your Channeled Energy becomes zero.</strong>
    </p>
    <p>
      If Locking your spells, you can choose to attempt to maintain the effects of any Concentration Based spells. See Concentration
      below.
    </p>
    <p>
      If choosing to "Flush" your Channeled Energy, reduce your Current Energy by the amount of Channeled Energy, then set your
      Channeled Energy equal to zero. Remove all Active Spells. All effects from Concentration Based spells immediately end.
    </p>
    <p>
      If Flushing causes your Current Energy to becomes less than, or equal to, 0, you become Incapacitated as though struck with
      a non-lethal weapon. If Flushing causes your Current Energy to becomes less than 10, your character dies in a flash
      of light.
    </p>
    <h4>
      Prepare for upkeep at start of your next turn
    </h4>
    <p>
      At the start of your next turn, perform the following:
    </p>
    <ol>
      <li>
        Remove all non-concentration based spells from "Active Spells", except for any that are Locked.
      </li>
      <li>
        Remove any concentration based spells from "Active Spells" in which the concentration has been ended (see Concentration below),
        except for any that are Locked.
      </li>
      <li>
        Sum up the amount of Energy Channeled for each non-locked spell still listed under Active Spells. Refer to this as the Currently
        Channeled Amount.
      </li>
      <li>
        Reduce your Channeled Energy by your Focus Bonus.
        <ul>
          <li>
            If your Channeled Energy is now less than 0, set Channeled Energy to 0.
          </li>
          <li>
            If your Channeled Energy is less than Currently Channeled Amount, set Channeled Energy to that instead.
          </li>
          <li>
            Ensure that your counter die reflects your new Channeled Energy.
          </li>
          <li>
            If your Channeled Energy is 0 at this point, any locked spells can now be erased from Active Spells (making them available
            once again).
          </li>
        </ul>
      </li>
    </ol>
    <h3>
      Concentration
    </h3>
    <p>
      Many spells indicate through their description that they require "Concentration". This indicates that a spell effect only
      remains applicable while the caster is concentrating on maintaining the spell.
    </p>
    <p>
      A creature that casts a concentration based spell may stop concentrating on the spell at any time on their turn as an action
      with 0 Movement Speed Cost.
    </p>
    <p>
      If a creature takes damage while concentrating on a spell, they must make a Concentration Check with a Difficulty of 10 +
      Damage Taken to maintain the effect. This check is roll independently for each Concentration Based spell. Failure indicates
      the effect of the spell immediately ceases. Success means the effect stays applicable, but the spell is still locked
      (if having chosen to Lock instead of Flush).
    </p>
    <p>
      If all subjects of a Concentration Based spells have successfully made Concentration Checks (see Penetration below), the
      spell immediately ends.
    </p>
    <h3>
      Penetration
    </h3>
    <p>
      Many spells ask the caster to perform a "Penetration Check". This is usually done by rolling a number of d6's equal to the
      declared Energy channeled, and the result referred to as the Penetration Result. If the result of the Penetration Check
      is greater than the target's Concentration Defense, the spell succeed, otherwise the spell fails.
    </p>
    <p>
      When a Penetration Check is successful, unless otherwise specified, the subject may attempt a Concentration check with a
      Difficulty equal to the Penetration Result at the end of the subject's turn. This check is made after applying the
      effects of the spell. For example a Creature with Compel cast on them must spend the first part of their turn performing
      the command. Just before ending their turn, they may make this Concentration Check.
    </p>
    <p>
      A successful Concentration check causes the subject to no longer need apply the effect of the spell, and they cease being
      considered a subject. If the check fails, the subject may make a Concentration Check at the beginning of each subsequent
      turn. Each time the Concentration Check fails, the Effective Difficulty for that subject is lowered by one.
    </p>
    <p>
      If another creature shakes, or otherwise is able to distract, the subject, the Effective Difficulty is further reduced by one. If a subject takes damage, the Effective Difficulty is reduced by an amount equal to the damage taken.
      If the Effective Difficulty is ever reduced to 0 or below, the subject is no longer affected by the spell.
    </p>
    <h3>
      Range
    </h3>
    <p>
      How far the effect of the spell can be applied is given by the spell description.
    </p>
    <h4>
      Self
    </h4>
    <p>
      Some spells describe the range as "Self", which means the spell cannot only be applied to the caster, and does not have a
      range.
    </p>
    <h4>
      Touch
    </h4>
    <p>
      Spells with a description indicating a range of "Touch" means that the spell can only be applied to creatures that the caster
      touches. A caster may cast the spell upon themselves.
    </p>
    <p>
      The description may indicate that the spell can be applied to multiple creatures, as long as they are all touching. This
      means if the caster is touching subject A, and subject A is touching Subject B, the effect can applied to Subject B,
      even though the caster may, or may not, be directly touching Subject B.
    </p>
    <h4>
      Attack
    </h4>
    <p>
      Attack spells, unless otherwise indicated have a Range of 60ft. Meaning that a spell can be flung in a straight line 60ft
      away from the caster.
    </p>
    <p>
      Caster's can still target subjects up to double the described range -- or 120ft, if range is unspecified. However, when the
      target is greater than the described Range, the caster must take Disadvantage on the Attack Roll.
    </p>
    <h4>
      Radius
    </h4>
    <p>
      Some spells indicate the effect takes place within a given radius. This means it targets any subject that are within the
      given radius distance away from the caster.
    </p>
  </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/characteristics">
    <i class="fa fa-angle-double-left"></i>
    Characteristics
  </a>
  <a routerLink="/srd/equipment" class="pull-right">
    Equipment
    <i class="fa fa-angle-double-right"></i>
  </a>
</div>

<app-spells [forSelection]="false"></app-spells>