<section>
  <article>
    <h2>
      Items
    </h2>
    <p>
      Items include tools, instruments, livestock, clothing, food &amp; drink, and any other adventuring gear a character may need,
      such as rope, or flint &amp; steel.
    </p>
  </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/equipment/armor">
        <i class="fa fa-angle-double-left"></i>
        Armor
    </a>
  <a routerLink="/srd/playing-elixr" class="pull-right">
        Playing Elixr
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>

<app-items></app-items>