<section>
  <article>
    <h2>
      Characteristics
    </h2>
    <p>
      Characteristics are traits that make your character unique or interesting, and often grant a creature special abilities.
      They may be supernatural in nature, in which case, you should describe how your character acquired these traits.
    </p>
    <p>
        They fall in one of three categories: <a routerLink="/srd/characteristics/features">Features</a>,
        <a routerLink="/srd/characteristics/flaws">Flaws</a>, and <a routerLink="/srd/characteristics/oaths">Oaths</a>, each
        detailed on their own page.
    </p>
    <p>
      Every Characteristic has an associated Power indicated by a number next to the <i class="fa fa-line-chart"></i> icon.
      Beginning at first level, a character has 8 Feature Points with which to take on Features. 
      In order to gain a Feature, you spend points equal to the power of the Feature.
    </p>
    <p>
      Some Flaws and Oaths actually have a negative Power. 
      Negative Power values increase a character's number of Feature Points available to compensate. 
      So a character can take these characteristics to increase their Featue Points.
    </p>
    <p>
      For example, Rorric at level 1 has 8 Feature Points. 
      He spends 1 of them to get <i>Speak Language</i>, leaving him with 7 Feature Points.
      He then takes on the Flaw <i>Deaf</i>, which has a Power equal to -5. 
      His Feature points is now 12. (8 to start minus 1 for a Feature with a Power of 1 plus 5 for a Flaw with a Power of -5).
    </p>
    <p>
      Each level, a character gains 8 Feature Points. A character's Feature Points should never go below 0.
    </p>
  </article>
</section>
<div class="chapter-nav">
  <a routerLink="/srd/skills">
      <i class="fa fa-angle-double-left"></i>
      Skills
  </a>
  <a routerLink="/srd/equipment" class="pull-right">
      Equipment
      <i class="fa fa-angle-double-right"></i>
  </a>
</div>