<section>
  <article>
          <h2>
              Intro
          </h2>
          <p>
              Elixr is a tabletop, pen &amp; paper, role-playing game where each player creates a character to role-play as, and one person, that chooses to be, is known as the Game Master (GM).
          </p>
          <p>
              The GM will immerse your character in a world of their creation, where you can expect monsters, magic, and mystical challenges.
          </p>
          <p>
              The Goal: Create compelling characters, explore mystical worlds full of treasure, intrigue, and monsters. Breed camaraderie, run risks, and reap the rewards. What your character does is up to you.
          </p>
          <p>
              You can start your adventures by <a routerLink="/srd/creating-a-character">creating a character.</a>
          </p>
          <p>
              Or prepare a campaign to <a routerLink="/srd/running-elixr">run</a> as the GM.
          </p>
          <p>
              While Elixr does provide many tools and resources to play online, ultimately Elixr is meant to be to played around a table with friends, both old and new.
          </p>
  </article>
  <article>
      <h2>
          About
      </h2>

      <p>
          Elixr was created with the idea that a class based approach to an open-ended RPG is an inherently backwards idea.
      </p>
      <p>
          Rather than choosing a theme (class) that grants a character specific abilities (a la D&D), a player should choose abilities to fit a theme of their own creation.
      </p>
      <p>
          Thus, each character is uniquely their own. Players are encouraged to come up with their own races, features, weapons, armor, equipment, and spells, and to share these creations with the community here, in addition to those already in this reference.
      </p>
  </article>
  <article>
      <h2>
          Beyond Elixr
      </h2>

      <p>
          Elixr is more than just a tabletop RPG, it can also be considered a method to create your own RPG system.
      </p>
      <p>
          All of the source code for Elixr is available on GitHub. Feel free to fork your own project.
      </p>

  </article>
</section>
