<section>
  <article>
    <h2>
      Races
    </h2>
    <p>
      Races are the various humanoid species that exist in the world presented to you by your GM.
      <br> The race you select for your character indicates the general size, shape, and appearance of your character.
      <br> Each Race has different modifiers that alter the stats of your character, such as their physical abilities and
      speed.
      <br> Take note of what stats are altered so that you can record them on your Character Sheet.
    </p>
  </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/character-description">
        <i class="fa fa-angle-double-left"></i>
        Character Description
    </a>
  <a routerLink="/srd/abilities" class="pull-right">
        Abilities
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>

<app-templates [onlyRaces]="true"></app-templates>