<section>
  <article>
    <h2>
      Player Death
    </h2>
    <p>
      In order for there to be high reward, there must be high risk. Adventuring is a dangerous gig, and dying is a risk that all
      characters carry.
    </p>
    <h3>
      Resurrection
    </h3>
    <p>
      Magic can bring a creature back to life, but it's not always an option. The longer a creature has been dead, the harder it
      is to cast Resurrection on that creature.
    </p>
    <p>
      Or, maybe no creatures within the vicinity of the recently deceased that know the spell Resurrection, and dragging the corpse
      to someone who does is not feasible.
    </p>
    <h3>
      A New Character
    </h3>
    <p>
      If a character dies, the player may choose to create a brand new character to replace them. Allow the new character to be
      the same level as the recently deceased. You'll need to come up with a way to introduce them to the remaining party
      members, and have the party members accept the new character joining their party.
    </p>
    <h3>
      A Heroic Death
    </h3>
    <p>
      When a character dies, it can ease the blow of dying if the player feels like their character's death had a meaning in the
      story. Perhaps, because of their death, the other party members were able to escape the dungeon alive.
    </p>
    <p>
      Consider other poetic ways in which a character may meet their end. This is not always easy to do on the fly, as it's rare
      that a character death is expected, but the effort can make for a satisfying end to a character's arc.
    </p>
  </article>
  <article>
    <h2>
      Other Ways of Raising the Stakes
    </h2>
    <p>
      Instead of making every encounter a life or death situation for the player's character, consider other ways to make an encounter feel urgent.
    </p>
    <h3>
      The "Time Bomb"
    </h3>
    <p>
      A concept in writing that is used to create a sense of urgengy is sometimes referred to as the "Time Bomb". 
      It follows a simple formula: If x isn't accomplished by y, then z will occur, where z is perceived as a negative outcome.
    </p>
    <p>
      Consider this time bomb: If the character's do not rescue the magistrate from the orcs by sundown, the magistrate will be beheaded.

      Here, x is "Rescuing the magistrate", y is "Sundown", and z is "magistrate is beheaded".
    </p>
    <p>
      The characters may fail to defuse the bomb in time, in which case they are made aware that their failure was responsible for the outcome.
    </p>
    <h3>
      Reduction in power
    </h3>
    <p>
      This should be used with caution, as player's can feel like they've put hard work into their characters, only for you to invalidate that work.
    </p>
    <p>
      In this situation, the punishment for failure isn't death, but a reduction in the character's abilities. 
      Perhaps causing the character to lose a level, or locking a certain Feature from their use.
    </p>
    <p>
      This reduction should always be temporary, and the parameters for regaining the power made very clear to the players. 
      It can be made into a fun an opportunity for a "mini-quest", to restore the character's former power.
    </p>
  </article>
</section>