<section>
  <article>
    <h2>
      Dungeons
    </h2>
    <p>
      Dungeons are an easy way to chain together multiple encounters with minimal exposition needed. They can act as a flowchart
      from one encounter to the next.

    </p>
    <p>
      This is a guide to creating your own dungeons. Note that, though the word dungeon is used, it doesn't have to be a literal
      dungeon. It can be any building or area where movement is constrained to specific paths.
    </p>
    <h3>
      Sample Expositions
    </h3>
    <p>
      Why are the players going into this dungeon?
    </p>
    <ul>
      <li>
        A priest asks them to recover a religious artifact from an abandoned temple.
      </li>
      <li>
        Looking for a missing person, they enter an old mansion.
      </li>
      <li>
        A priceless artifact has been buried in a cave guarded with magical wards and subterranean creatures. Someone has hired them
        to retrieve it.
      </li>
      <li>
        The player's ship has crashed into the shore and they now seek shelter in the lighthouse.
      </li>
      <li>
        They're searching for a shrine in the heart of a forest.
      </li>
    </ul>
    <h3>
      Drawing a map
    </h3>
    <p>
      By using scratch paper, or graph paper, begin by drawing sections that represent rooms or major areas, then connecting them
      with pathways and/or corridors.
    </p>
    <p>
      You'll want to make sure the pathways are large enough that characters can move past each other if they need to. Being stuck
      in the back isn't fun for players.
    </p>
    <p>
      Eventually you might have something resembling:
    </p>
    <div>
      <img src="assets/images/sample-dungeon.png" alt="sample dungeon">
    </div>
    <span style="font-size:0.8em;"> courtesy of <a href="https://donjon.bin.sh/d20/dungeon/">donjon; d20 Random Dungeon Generator</a></span>
    <p>
      For a more cavernous dungeon, you'd have more jagged edges instead of the straight-cut you see here.
    </p>
    <h4>
      Legend
    </h4>
    <p>
      Note the numbers in the sample dungeon above. Presumably, you want to have interesting things happen in your dungeon. By
      writing numbers where an event or encounter occurs, and writing corresponding numbers on a separate piece of paper,
      you can fill in details for each event.
    </p>
    <p>
      Also, note where doors are, whether they're locked (perhaps by drawing a key symbol next to them), staircases and the direction
      they go (up or down), where treasure is hidden, and any other unique features of your dungeon.
    </p>
    <h3>
      Traps
    </h3>
    <p>
      Dungeons don't simply offer danger from any dwellers within, but also traps designed to keep intruders out. Or perhaps simply
      dangers due to a general state of disrepair. Here are some sample traps, and how they might be set off, that you can
      include in your dungeon.
    </p>
    <ul>
      <li>
        Pits — By walking over a disguised area of ground, an adventurer falls into a hole, taking fall damage.
      </li>
      <li>
        Spiked Pit — A pit with spikes at the bottom.
      </li>
      <li>
        Acid Pit — A pit with acid at the bottom.
      </li>
      <li>
        Spring Loaded Arrow — By opening a door, pulling a lever, or some other mechanical action, an arrow fires out from a hidden
        hole in the wall.
      </li>
      <li>
        Poisoned Dart — Same as Spring Loaded Arrow, but a smaller dart covered in poison.
      </li>
      <li>
        Falling Rocks — Perhaps by making too much sound loosened rocks, stalactites, or other debris fall on top of an unwary adventure.
      </li>
      <li>
        Net/Web — A net meant to catch game, or a web from a very large spider entraps the adventurer when they walk into the wrong
        spot.
      </li>
      <li>
        Exploding Doorknob — A spell caster has cast a spell on a doorknob causing a fireblast to go off when touched.
      </li>
      <li>
        Poisoned Doorknob — A doorknob has been covered in a toxic material.
      </li>
      <li>
        Cursed Item — An artifact looks good at first, but soon begins causing trouble for the one that stole it.
      </li>
    </ul>
    <p>
      Try to give clues as to the presence of traps. Let players make Insight checks when they notice something awry. Perhaps allow
      them to make a skill check to avoid a trap once it goes off, giving them advantage if they noticed something fishy
      beforehand.
    </p>
    <p>
      For example, maybe let a character make an Acrobatics check to jump backwards when a pit opens up. If they fail, they fall
      into the pit, otherwise they were able to jump out of the way just in time.
    </p>
    <h3>
      Riddles
    </h3>
    <p>
      Consider including puzzles or riddles the players will need to solve to progress. Encourage your players to solve riddles
      and puzzles themselves, instead of relying on their character. If the players cannot solve the problem, then you can
      have them roll Insight checks to solve it instead.
      <br> Here are some example problems:
    </p>
    <ul>
      <li>
        A sphinx will only let you pass if you successfully answer three riddles.
      </li>
      <li>
        A door requires a certain pattern to unlock.
      </li>
      <li>
        A small humanoid creature with a personality disorder will only show you the way out if you play a riddle game.
      </li>
    </ul>
    <h3>
      Scaling the Dungeon
    </h3>
    <p>
      You want your players to get to the other side of the dungeon alive, even if just barely. Here are some tips for making that
      easier.
    </p>
    <p>
      Ensure the creatures inhabiting the dungeon are of similar level to the players. If you have four level two players, only
      have them fight monsters with a cumulative level up to level eight (4 players * 2 levels each = 8) at a time. This
      means either eight level one creatures, four level two creatures, two level four creatures, or one level eight creature,
      or any combination that add up to 8.
    </p>
    <div>
      Note that some creatures that say Level one are actually considered lower than that in their description.
    </div>
    <p>
      Traps can also be scaled. A pit trap, for example, can be deeper as the players level. The number of arrows in a Spring Loaded
      Arrow can be increased. The poison on the doorknob deadlier. The falling rocks heavier, and so on.
    </p>
  </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/running-elixr/campaigns">
      <i class="fa fa-angle-double-left"></i>
      Campaigns
  </a>
  <a routerLink="/srd/running-elixr/world-building" class="pull-right">
      World Building
      <i class="fa fa-angle-double-right"></i>
  </a>
</div>