<section>
  <article>
    <h2>
      Playing Elixr
    </h2>
    <p>
      Playing Elixr is like being part of an interactive story. You control the actions of one of the main characters, and the
      GM responds by telling you how your decisions unfold and affect the world around you.
    </p>
    <p>
      To assist in focusing on gameplay, rather than dispute what a character should, or shouldn't, be allowed to do, these following
      rules make for a reference point.
    </p>
    <h3>
      The GM is Always Right
    </h3>
    <p>
      All of the rules listed in this reference are considered guidelines, <strong>not</strong> The Holy Word of God. Your
      GM may decide it's in the interest of the player's experience to bend, break, or change a particular rule.
    </p>
    <p>
      You are free to voice any dissatisfaction with a rule change your GM implements, but during the session you should yield
      to their decision. After the session is over, you may discuss the rule change with your GM to see if a compromise is
      in order. A good GM will be willing to listen to their player's feedback.
    </p>
  </article>
  <article>
    <h2>
      The Dice
    </h2>
    <p>
      In order for things to be interesting—and so a character doesn't simply declare themselves God—there must be a chance for
      a character to fail. This is where the dice come in.
    </p>
    <p>
      The results of your roll will determine whether or not you successfully scale the cliffside, sneak away from the dragon,
      or stab the orc in the back.
    </p>
    <p>
      Any action that has a chance of failure should require a dice roll.
    </p>
    <p>
      There are 8 types of dice used in Elixr. Each die has a different number of sides. They are:
    </p>
    <ul>
      <li>
        20-Sided (Primary, most important)
      </li>
      <li>
        12-Sided
      </li>
      <li>
        10-sided
      </li>
      <li>
        8-Sided
      </li>
      <li>
        6-Sided (Standard die found in most board games)
      </li>
      <li>
        4-Sided
      </li>
      <li>
        Percentile (two 10-sided dice, one of which represents the 'tens' place)
      </li>
    </ul>
    <h3>
      Dice Notation
    </h3>
    <p>
      When dice are called to be rolled, a notation is used to determine how many of each type.
    </p>
    <p>
      The notation involves two numbers, one on either the side of the letter 'd'.
    </p>
    <p>
      The number before the 'd' is how many dice are to be rolled.
    </p>
    <p>
      The number following the 'd' is what type of dice is rolled.
    </p>
    <p>
      Some examples include:
    </p>
    <ul>
      <li>
        <strong>1d20</strong> Indicates a single die will be rolled, the die being rolled has 20-sides. This is the most
        commonly used die-roll in the game.
      </li>
      <li>
        <strong>2d6</strong> Indicates two dice, each with 6-sides, are to be rolled. The possible outcomes of such a roll
        would be 2-12.
      </li>
      <li>
        <strong>3d8</strong> Indicates three, eight-Sided dice, are to be rolled. The possible outcomes of such a roll would
        be 3-24.
      </li>
      <li>
        <strong>20d4</strong> Indicates a total of 20 dice are to be rolled, each of the individual dice have 4-sides. The
        possible outcome of such a roll would be 20-80.
      </li>
    </ul>
  </article>
  <article>
    <h2>
      Critical & Fumble
    </h2>
    <p>
      When rolling 1d20, some special circumstances apply if the result of the roll is 1 or 20 before any other modifiers are applied.
    </p>
    <p>
      Regardless of the roll, the Speed Cost of the action is fully applied.
    </p>
    <h3>
      Critical
    </h3>
    <p>
      If the result of rolling 1d20 before any other modifiers are applied is 20, this is referred to as a critical.
    </p>
    <p>
      A critical indicates an automatic success in whatever the character was attempting to do, regardless of the Difficulty or
      Defense the character is attempting to overcome.
    </p>
    <p>
      This assumes that what the character is attempting is physically possible, and the GM reserves veto rights.
    </p>
    <h3>
      Fumble
    </h3>
    <p>
      If the result of rolling 1d20 before any other modifiers are applied is 1, this is referred to as a fumble.
    </p>
    <p>
      A fumble indicates an automatic failure in whatever the character was attempting to do.
    </p>
    <p>
      A retry can be made immediately, assuming a character has enough Movement Speed to attempt again that turn, and that any
      negative repercussions of failing the action are resolved.
    </p>
  </article>
  <article>
    <h2>
      Advantage &amp; Disadvantage
    </h2>
    <p>
      Sometimes, circumstances are particularily conducive to an action a character may be attempting. In such cases, a GM may
      grant Advantage to a character attempting that action.
    </p>
    <p>
      Other times, circumstances are adverse to an action a character is attempting. In such cases, a GM may give a character Disadvantage
      when attempting that action.
    </p>
    <h3>
      Advantage
    </h3>
    <p>
      If a GM has granted your character Advantage when attempting an action, you may roll 1d20 twice, and take the higher result,
      discarding the other.
    </p>
    <h3>
      Disadvantage
    </h3>
    <p>
      If a GM has given your character Disadvantage when attempting an action, you must roll 1d20 twice, and take the lower result,
      discarding the other.
    </p>
    <h3>
      Multiple Circumstances
    </h3>
    <p>
      At most, a player will only roll 1d20 twice per action. There is no such thing as "Double Advantage" or "Triple Disadvantage".
    </p>
    <p>
      If the number of favorable circumstances is greater than the number of unfavorable circumstances, the character gets to keep
      their Advantage.
    </p>
    <p>
      If the number of unfavorable circumstances is greater than the number of favorable circumstances, the character still has
      Disadvantage.
    </p>
    <p>
      If the number of favorable circumstances equals the number of unfavorable circumstances, the Advantage and Disadvantage cancel
      out, and the character will roll normally.
    </p>
  </article>
  <article>
    <h2>
      Tie Goes to the Defender
    </h2>
    <p>
      When actions are performed to the detriment of another creature or character, that creature or character is known as the
      defender.
    </p>
    <h3>
      Attacks
    </h3>
    <p>
      When an attacker rolls to hit an opponent, if the result is less than <strong>or equal</strong> to the defender's Defense,
      the attack is unsuccessful.
    </p>
    <h3>
      Skill Checks
    </h3>
    <p>
      Sometimes a character will make a skill check that allows others to make opposing skill checks.
    </p>
    <p>
      If failure at a check would lead to negative repercussions, such as being caught sneaking with a stealth check, they are
      the defender.
    </p>
    <p>
      The creature or character rolling an opposing check must therefore <strong>exceed</strong> the defender's check.
    </p>
  </article>
  <article>
    <h2>
      Round Down
    </h2>
    <p>
      Sometimes, odd numbers are called to be halved.
    </p>
    <p>
      Unless another rule states specifically otherwise, round down to the nearest even number before dividing by two.
    </p>
  </article>
  <article>
    <h2>
      Not everything needs to be solved with a sword
    </h2>
    <p>
      Just because a monster looks hideous doesn't necessarily mean it's evil, or that your character has the full picture. Stab
      first, ask questions never isn't always the best approach. Often, if your first instict is to kill anything that moves,
      you'll have a better experience just playing a video game.
    </p>
  </article>
  <article>
    <h2>
      No Player Knowledge
    </h2>
    <p>
      Just because <i>you</i> the player knows that shapeshifters are vulnerable to silver, does not mean that the small
      town farmboy you are role-playing as does. A lot of the time you will need to feign ignorance for the things that your
      character just wouldn't know.
    </p>
    <p>
      Unless your character was present when receiving information, your character is not allowed to react to information that
      they simply would not know.
    </p>
  </article>
  <article>
    <h2>
      Elixr is a Cooperative Game
    </h2>
    <p>
      While having the spotlight once in a while can be nice, nobody likes when someone is hogging it all the time.
      Each other player is also a <i>main</i> character in this story, not just yours.
    </p>
  </article>
  <article>
      <h2>
        Roll Dice Only on Your Turn
      </h2>
      <p>
        The system is constructed in such a way that you should only be rolling dice if it is your turn.
        This is in an effort to speed up and streamline gameplay, making it your turn more often, faster.
      </p>
      <p>
        This is the reason for things such as "Skill Defenses", whereas other RPG systems call for "Saving Throws".
      </p>
    </article>
  <article>
    <h2>
      Facets of Gameplay
    </h2>
    <p>
      There are 3 primary facets of gameplay:
      <a routerLink="/srd/playing-elixr/combat">Combat</a>, <a routerLink="/srd/playing-elixr/social-interaction">Social Interaction</a>,
      and <a routerLink="/srd/playing-elixr/exploration">Exploration</a>.
    </p>
  </article>
</section>