<section>
    <article>
        <h2>
            Running Elixr
        </h2>
        <p>
            Being the Game Master is a lot of responsibility. You control the world, the actions of non-player characters that inhabit
            it, should be generally familiar with the rules for
            <a routerLink="/srd/playing-elixr">playing the game</a> and have to act as judge to settle disputes.
        </p>
        <p>
            That said, being the Game Master can be a lot of fun, and opens the doors to much more creativity than you have as a player.
        </p>
        <p>
            Being GM should never be seen as a chore, but a new opportunity.
        </p>
        <p>
            There are two aspects to Game Mastering covered here:
            <a routerLink="campaigns">Running a Campaign</a> and
            <a routerLink="world-building">World Building</a> which are described in their own sections.
        </p>
        <p>
            Meanwhile, here are some helpful tips for Game Masters:
        </p>
        <h3>
            Fun First
        </h3>
        <p>
            The goal of a game of Elixr is simply to have fun. There isn't one right way to play, there's just the way that you and your
            players enjoy the most.
        </p>
        <p>
            Beware of falling into the trap of "My way or the highway". You're here to guide the game, not control it, and if people
            aren't having fun, it's your responsibility to change something.
        </p>
        <h3>
            Don't Railroad
        </h3>
        <p>
            Railroading is where the players decisions don't affect what is going to happen, as though the story is on railroad tracks.
            You may want a story or plot point unfold in a certain way that the players don't allow. Rather than forcing
            it to happen anyway, allow your story to be fluid.
        </p>
        <p>
            Ideally, you'll be able to find a creative solution that allows the players to have free will, while at the same time progressing
            the story in the direction you want. Sometimes, you can't, and that's ok, the story is just going to have to
            go in another direction. The idea that character's decisions matter is a fundamental aspect of Elixr.
        </p>
        <h3>
            Know Your Audience
        </h3>
        <p>
            Sometimes player's and GM's expectations don't match. A GM may have prepared a campaign with a focus on court politics, while
            all the players want to do is stab things. Sometimes the players want a gritty and dark adventure when you've
            prepared a whimsical tale.
        </p>
        <p>
            It is ok to "bow out" if you don't think the kind of game you want to run matches up with the kind of game the players want
            to play. They'll need to find a new GM, and you, a new group of players, in order to have the best experience
            for each.
        </p>
        <h3>
            Your Players are the Main Characters
        </h3>
        <p>
            Avoid the trap of having your player's characters be support to some NPC that you control.
            Don't make a habit out of rescuing your player's characters from death with one of the cool characters you came up with.
            The players are the heroes of this story. Act like it.
        </p>
        <h3>
            Player Progression
        </h3>
        <p>
            You decide when the players get to level up their characters, and do so by simply declaring "Level up your characters".
            This should be done only after the characters have faced many challenges and you believe new challenges should grow in scale to represent the experience the characters now have.
        </p>
        <p>
            Challenges generally indicate having killed enough monsters, but might also include sneaking past a dragon, stealing the ancient artifcat successfully, or being able to convince the Queen to support the village.
        </p>
        <h3>
            Player Death
        </h3>
        <p>
            Sometimes, the player's characters will die. This can be upsetting for a player that is attached to their character. The
            <a routerLink="/srd/running-elixr/player-death">Player Death</a> section details some tips in dealing with this, and how to avoid character deaths when possible.
        </p>
        <h3>
            Characters don't just "hit" or "miss"
        </h3>
        <p>
            When a player's attack does not cause damage, do not describe this as missing. Instead, depending on the circumstances, you
            can describe it similar to "your axe swings close to his chest, but he lifts his sword just in time to deflect
            it." Or, "you take a swing with your sword, but he aptly sidesteps it". Or, "your weapon connects squarely with
            his armor which absorbs your blow."
        </p>
        <p>
            When an attack does cause damage, that doesn't have to mean that blood was drawn. Consider these descriptions: "Your attack
            catches him in the chest, knocking the wind out of him, causing him to lose {{ '{' }} whatever damage was rolled{{
            '}' }} ". Or, "he over-exerts himself in trying to dodge your arrow and loses {{ '{' }} damage rolled {{ '}'
            }} Energy".
        </p>
        <p>
            This should be proportional to the damage roll. Lesser damages indicate that the target lost Energy due to extraneous effort
            caused by the character's actions. Higher damages indicate that the target lost Energy due to a wound caused
            by the character.
        </p>
        <p>
            Wounds should also be more fully described. Where was the target hit? Did it leave a gash? Is there blood dripping out of
            it?
        </p>
        <p>
            Including descriptions such as these immerse the players in your world, and make action more interesting.
        </p>
        <h3>
            The Big Secret: The Numbers Don't Actually Matter
        </h3>
        <p>
            At its heart, Elixr is a framework for telling interactive stories.
        </p>
        <p>
            Your goal is to provide interesting places, with interesting scenarios, filled with interesting creatures and events, all
            so that the players can have their characters do interesting things.
        </p>
        <p>
            The numbers are only there to assist in keeping things fair and balanced. If they get in the way of the goal, ignore them.
        </p>
    </article>
</section>
<div class="chapter-nav">
    <a routerLink="/srd/running-elixr/campaigns" class="pull-right">
        Campaigns
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>