<p>
  Do you speak legal-ese? Help out by contacting adjentz on <a href="https://github.com/adjentz/elixr2">GitHub</a>
</p>
<p>
  The short of it is, you agree that any content you submit is content that you have the rights to submit.
  Submitted content is then shared under the OGL. 
  The only content that isn't shared are Character descriptions (including attributes such as name, weight, age, etc...) and portraits (they remain your intellectual property). This does not apply to submitted Creatures. Creature descriptions and portraits are to be shared under the OGL.
</p>
<p>
  Additionally, we reserve the right to suspend your access to this service at any time for any reason.
  Usually for rule breakers. This rule may become more refined moving forward.
</p>
<p>
  By using this site, you agree to these terms.
</p>