<section>
    <article>
        <h2>
            Equipment
        </h2>
        <p>
            Equipment is all the <a routerLink="/srd/equipment/armor">Armor</a>, <a routerLink="/srd/equipment/weapons">Weapons</a>, and other <a routerLink="/srd/equipment/items">Items</a> an adventurer may require. 
        </p>
        <h3>
            Currency
        </h3>
        <p>
            Equipment costs money to purchase, and in a Fantasy world, that typically means Gold, Silver, and Copper.
        </p>
        <p>
            Gold is the most common currency for adventurers. One Gold piece is equivalent to 10 Silver pieces, or 100 Copper pieces.
        </p>
        <p>
            One piece of Silver is equivalent to 10 Copper pieces. It takes 10 Silver pieces to equal one Gold piece. 
        </p>
        <p>
            One Copper piece is the lowest denomination. It takes 10 copper pieces to equal one silver piece, and 100 copper pieces to equal one gold piece.
        </p>
        <p>
            There are also pieces known as Platinum, which is the equivalent of 10 Gold pieces. 
            Platinum is typically used for larger transactions than a character would usually be a part of, such as bank transfers.
            If a character comes into platinum, it is recommened they convert it into Gold for use on their Character Sheet.
        </p>
        <h3>
            Starting Wealth
        </h3>
        <p>
            The wealth a character should start with varies based on the GM's decision. However, the recommended starting wealth is 200 Gold Pieces
        </p>
        <h3>
            Weight
        </h3>
        <p>
            All equipment has weight. 
            You should make sure your character is capable of carrying everything they take with them, including the armor they wear and the weapon they wield.
            How much a character can carry is detailed under Strength on the <a routerLink="/srd/abilities">Abilities</a> page.
        </p>
    </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/characteristics">
      <i class="fa fa-angle-double-left"></i>
      Characteristics
  </a>
  <a routerLink="/srd/playing-elixr" class="pull-right">
      Playing Elixr
      <i class="fa fa-angle-double-right"></i>
  </a>
</div>