<section>
  <article>
    <h2>
      Oaths
    </h2>
    <p>
      Oaths are a creed, or set of beliefs, that a character believes in strongly enough that to not follow them would be detrimental
      to the psyche of the character.
    </p>
    <p>
      Most Oaths give a character's benefits, so as long as the character actively upholds the Oath.
      Many Oaths have a negative Power, meaning that they increase a Character's Feature Points.
    </p>
    <p>
      The punishment for a character breaking an Oath varies by GM. The recommended punishment is to not allow a character to level
      until they have properly atoned for the oath they broke.
    </p>
  </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/characteristics/flaws">
      <i class="fa fa-angle-double-left"></i>
      Flaws
  </a>
  <a routerLink="/srd/equipment" class="pull-right">
      Equipment
      <i class="fa fa-angle-double-right"></i>
  </a>
</div>

<app-characteristics [type]="oaths"></app-characteristics>