<section>
    <article>
        <h2>
            Creating a character
        </h2>
        <p>
            The first step to creating your character is to either <a href="/content/character-sheet.pdf" download="Elixr_Character_Sheet.pdf">print</a>            a <strong>Character Sheet</strong>, or <a routerLink="/character-editor">save one</a> on Elixr.
        </p>
        <p>
            A Character Sheet is used to record information and game stats about your character.
        </p>
        <p>
            Once you have a Character Sheet ready, follow these steps to create your character and record the information.
        </p>
        <ol>
            <li>
                <a routerLink="/srd/base-stats">
                Record Base Stats</a>
            </li>
            <li>
                <a routerLink="/srd/character-description">
                  Describe your Character
              </a>
            </li>
            <li>
                <a routerLink="/srd/races">
                  Pick a Race
              </a>
            </li>
            <li>
                <a routerLink="/srd/abilities">
                  Determine Abilities
              </a>
            </li>
            <li>
                <a routerLink="/srd/skills">
                  Gain Skills
              </a>
            </li>
            <li>
                <a routerLink="/srd/characteristics">
                  Choose Characteristics
              </a>
            </li>
            <li>
                <a routerLink="/srd/equipment">
                  Gear Up
              </a>
            </li>
            <li>
                <a routerLink="/srd/playing-elixr">
                  Start Playing
              </a>
            </li>
        </ol>
    </article>
</section>
<div class="chapter-nav">
    <a routerLink="/">
        <i class="fa fa-angle-double-left"></i>
        Intro
    </a>
    <a routerLink="/srd/base-stats" class="pull-right">
        Base Stats
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>