<section>
  <article>
      <h2>
          Description
      </h2>
      <p>
          The description of your character includes your character's name, how they look, and how they act.
      </p>
  </article>
  <article>
      <h3>
          Name
      </h3>
      <p>
          The name of your character is important, it is the name of the person you become as role-play the character.
      </p>
      <p>
          The name you choose for your character should ideally fit into the world presented by your GM. 
          Typically, the different Races and regions in the world will have different names. 
          Some sample names may be given in a Race's description, which can inspire you to a create a fitting name for your character. 
      </p>
  </article>
  <article>
      <h3>
          Appearance
      </h3>
      <p>
          When creating a character, you'll select a race, which will greatly influence how your character looks. 
      </p>
      <p>
          However, you can specify what your eye or hair color is, how tall you are, how much you weigh, whether you are male, female, or some other gender unique to that race, and what your skin type is.
      </p>
      <p>
          Don't be afraid to add details such as scars, tattoos, or other distinctive features.
      </p>
      <p>
          With your GM's permission, you can even add mystical cosmetic features such as a skeletal hand, or a holy glow that your character gives off... as long as you can reasonably describe how it is your character acquired these traits. 
      </p>
  </article>
  <article>
      <h3>
          Motivation
      </h3>
      <p>
          What drives your character to set on the road, leaving their comfortable life behind them?
      </p>
      <p>
          Perhaps they seek gold, revenge, glory, or power. Perhaps they are simply overcome with wanderlust. Maybe they're looking for a new song or story to add to their repertoire. 
      </p>
      <p>
           Having a goal for your character while you're advenuring with your party can be very rewarding, and a good GM will be able to accomodate your character's goals into the campaign.
      </p>
  </article>
  <article>
      <h3>
          Flavor
      </h3>
      <p>
          Flavor describes the personal touch, or flair, your character gives to their actions.
      </p>
      <p>
          Perhaps what visual elements are included when they cast a spell, or how it is they draw a sword from its sheath.
      </p>
      <p>
          Flavor can also be used to add flair to items, such as having a crest on a shield representing a creed your character acts under.
      </p>
  </article>
</section>