<section>
        <article>
            <h2>
                Armor
            </h2>
            <p>
                Armor is worn by characters to increase their Defense, making them less likely to be hit.
                Armor descriptions include: Defense Bonus, Speed Penalty, Agility Penalty.
            </p>
            <h3>
                Defense Bonus
            </h3>
            <p>
                While wearing the given armor, a creature's Defense is increased by an amount equal to the Defense Bonus.
            </p>
            <h3>
                Speed Penalty
            </h3>
            <p>
                A creature's Effective Speed is reduced by the sum of the Speed Penalty for all armor that the creature is wearing.
            </p>
            <p>
                This penalty is <i>doubled</i> when performing the Swim or Climb skills.
            </p>
            <h3>
                Agility Penalty
            </h3>
            <p>
                A creature's Effective Agility Score is reduced by the sum of the Agility Penalty for all armor that creature is wearing.
            </p>
            <h3>
                Donning Armor
            </h3>
            <p>
                It takes a number of rounds equal to the armor's weight divided by 10, then multiplied by 2. So an armor with a weight of 50 would have a don time of 10 (50 / 2 = 5. 5 * 2 = 10.)
            </p>
            <p>
                Taking off armor (doffing) takes half as long as donning.
            </p>
        </article>
    </section>    

<div class="chapter-nav">
    <a routerLink="/srd/equipment">
            <i class="fa fa-angle-double-left"></i>
            Equipment
        </a>
    <a routerLink="/srd/equipment/weapons" class="pull-right">
            Weapons
            <i class="fa fa-angle-double-right"></i>
        </a>
</div>

<app-armor></app-armor>