<section>
        <article>
            <h2>
                Armor
            </h2>
            <p>
                Armor is worn by characters to increase their Defense, making them less likely to be hit.
                Armor descriptions include: Is Cumbersome and Don Time.  
            </p>
            <h3>
                Is Cumbersome
            </h3>
            <p>
                When worn, some armor causes some skills to have Disadvantage due to the armor's weight or awkwardness. 
                These skills include: Athletics, Acrobatics, Climb, Swim, and Stealth 
            </p>
            <h3>
                Don Time
            </h3>
            <p>
                Armor takes time to put on. The Don Time is how many rounds it takes to fully put on armor.
            </p>
            <p>
                The time it takes to remove armor is half of the Don Time.
            </p>
        </article>
    </section>    

<div class="chapter-nav">
    <a routerLink="/srd/equipment">
            <i class="fa fa-angle-double-left"></i>
            Equipment
        </a>
    <a routerLink="/srd/equipment/weapons" class="pull-right">
            Weapons
            <i class="fa fa-angle-double-right"></i>
        </a>
</div>

<app-armor></app-armor>