<section>
    <article>
        <h2>
            Combat
        </h2>
        <p>
            Your characters are going to get into fights. From the beginning of a fight to when the dust settles is called an Encounter.
            Encounters can have three parts: Initiative, Surprise Round, and Rounds.
        </p>
        <h3>
            Initiative
        </h3>
        <p>
            Combat begins by the GM calling for 'Initiatives'. In-game, your character's Initiative is how quickly they respond to a
            situation. Around the table, Initiative indicates whose turn is first.
        </p>
        <p>
            To determine Initative, roll 1d20 + your character's Initiative Bonus. The result is your Initiative. The GM will collect
            these from each player to determine who goes first, starting with the person with the highest Initiative.
        </p>
        <p>
            If two players end up with the same Initiative, the one with the higher Initiative Bonus goes first. If both players have
            the same Initiative Bonus, one player can either concede the Initiative to the other, or they must reroll a new
            Initiative between the two of them. Their actual Initiative remains the same, but the player that rolled the
            higher new Initiative goes first between them.
        </p>
        <h3>
            Surprise Round
        </h3>
        <p>
            Occasionally, your character may be caught unawares, such as walking into an ambush.
        </p>
        <p>
            When this occurs, the first round of combat is considered a surprise round, in which your Movement Speed is considered to
            be 0.
        </p>
        <p>
            Because you have no Movement Speed, you are unable to participate in the surprise round.
        </p>
        <p>
            However, you are also able to surprise enemies by catching them unawares, typically by making a successful Stealth check
            before any actual combat has began.
        </p>
        <p>
            The same rule of losing your Movement Speed when caught unawares applies equal to the enemies that you surprise.
        </p>
        <p>
            There can only ever be one Surprise Round per Encounter. Once combat has began, everyone is wary of each other's presence,
            even if a character successfully hides again using a Stealth check.
        </p>
        <h3>
            Rounds
        </h3>
        <p>
            Rounds are where each player, and creature the GM controls, take a turn in order of their Initiative.
        </p>
        <p>
            A turn begins by a player stating what actions they want to take. Actions are covered in the next <a routerLink="/srd/combat/actions">section</a>.
        </p>
        <p>
            For every action taken, there is an associated Speed Cost which counts against a character's Movement Speed.
        </p>
        <p>
            A character only has a limited amount of Movement Speed each turn. The typical Movement Speed for a Medium-sized creature
            is 60ft.
        </p>
        <p>
            A player's turn ends once they have consumed all of their Movement Speed from their actions, or they declare they are done
            with their turn.
        </p>
        <aside>
            <h4>
                Time
            </h4>
            <p>
                From the start of the first turn in a Round to the end of the last turn is considered to be six seconds long in-game.
            </p>
            <p>
                Therefore, 10 rounds would be considered a full minute.
            </p>
            <p>
                Events are considered to be happening concurrently: Even though combat is turn-based, it should be considered that each player's
                action is happening nearly simulatenously.
            </p>
        </aside>
    </article>

</section>
<div class="chapter-nav">
    <a routerLink="/srd/playing-elixr">
        <i class="fa fa-angle-double-left"></i>
        Playing Elixr
    </a>
    <a routerLink="/srd/playing-elixr/combat/actions" class="pull-right">
        Actions
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>