<section>
    <article>
        <h2>
            Base Stats
        </h2>
        <p>
            These are the recommended base stats for a new character. A GM is free to change them as they see fit for their campaign.
        </p>
        <ul>
            <li>
                Defense: 10
            </li>
            <li>
                Level: 1
            </li>
            <li>
                Energy: 8
            </li>
            <li>
                Speed: 60
            </li>
            <li>
                Wealth: 200 GP
            </li>
        </ul>
    </article>
</section>
<div class="chapter-nav">
    <a routerLink="/srd/creating-a-character">
        <i class="fa fa-angle-double-left"></i>
        Creating a character</a>
    <a routerLink="/srd/character-description" class="pull-right">
        Character Description
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>