<section>
  <article>
    <h2>
      Creatures
    </h2>
    <p>
      The world is full of dangerous creatures. Some are mystical beasts in hidden realms. Others are sentient and mischievous.
      Others still are more mysterious than that. Here are some example creatures that may exist in the world presented to
      you by your GM.
    </p>
  </article>
</section>

<div class="game-element" *ngFor="let creature of creatures">
  <div class="title">
    <a [routerLink]="['/creature-editor', creature.creatureId]">
      {{ creature.name }}
    </a>
    <span class="right">
      {{ creature.power }}
    </span>
  </div>
  <div class="body">
    <app-markdown-editor [canEdit]="false" [(model)]="creature.description"></app-markdown-editor>
  </div>
</div>