<section>
    <article>
      <h2>
          Running a Campaign
      </h2>
      <p>
          First, we should define some terms:
      </p>
      <p>
          <strong>Encounters</strong> are defined on the <a routerLink="/srd/playing-elixr/combat">combat</a> page, but can be simplified by
          saying "Any time players take turns to resolve a situation".
      </p>
      <p>
          A <strong>Session</strong> is any time that you and your players gather around the table to play.
      </p>
      <p>
          A session typically consists of multiple Encounters, as well as exposition for the story, provided by you.
      </p>
      <p>
          So, if a Session is a group of Encounters, a <strong>Campaign</strong> would be a group of Sessions.
      </p>
      <p>
          Some campaigns are long, others are short, it all depends on the story you want to tell and what your players choose to do.
      </p>
      <p>
          Once the main storyline is completed, this signals the end of the campaign.
      </p>
      <p>
          This means that this particular adventure is over, but that doesn't necessarily mean the end!
      </p>
      <p>
          At the end of the campaign, the players may wish to continue playing their characters, in which case, you could come up with
          a sequel campaign.
      </p>
      <p>
          Or, the players may wish to branch out and try new characters in a new world, in which case a brand new campaign could be
          created.
      </p>
      <p>
          The adventures you can have are endless.
      </p>
      <h3>
          Prepping the Campaign
      </h3>
      <p>
          Before your first session, you should give some thought to the story you want to present to your players.
      </p>
      <p>
          You may have an ending in mind already, which is great, but hold off on outlining every step of the journey there.
      </p>
      <p>
          An important part of Elixr is that player's choices should matter.
      </p>
      <p>
          What a player does may drastically alter the story, and you may have to write a new ending because of it. This should be
          considered a good thing! It means your players are involved in your world, which makes it an exciting thing to
          be part of.
      </p>
      <p>
          So that you don't get too far ahead of yourself when writing a campaign, start by writing out:
      </p>
      <ol>
        <li>
            "These are the events that are currently occurring in the world"
        </li>
        <li>
            "These are the major (non-player) characters that are currently driving these events"
        </li>
        <li>
            "These are the events that are <i>going</i> to occur"
        </li>
    </ol>
      <p>
          Drop the players into the world in your first session, and expect them to alter the events that are <i>going</i> to occur.
      </p>
      <h3>
          Beginning the Campaign
      </h3>
      <p>
          Your players are sitting around a table, their freshly minted characters sitting in front of them, and they're eagerly looking
          toward you. It's time to actually start playing!
      </p>
      <p>
          First, come up with a reason for why the characters would be together, or at least in proximity.
      </p>
      <p>
          The simple solution is to put them all in a tavern in a town of your choosing. Taverns are convenient due to the varying
          reasons someone might be present at a Tavern, but beginning at a tavern is considered a bit of a cliché in role-playing
          games.
      </p>
      <p>
          You may wish to have a more creative beginning for your campaign, but this guide will use starting at a tavern as an example.
      </p>
      <p>
          Begin by asking each player what their character is doing at the tavern. This may be met with a simple response such as "drinking".
          Encourage the player to get more descriptive. Ask questions such as: "Are you alone, or with someone?", "Are
          you at a table, or at the bar?", "Do you have your back towards the door?"
      </p>
      <p>
          Eventually the players will get more "in-character", and they'll realize that they truly control the actions of their characters.
      </p>
      <p>
          At this point, you may want to have your players describe their characters. Have them include their character's name, race,
          clothing, and physical description. Make sure the other players are paying attention as each player describes
          their character, as their character will be working with them for the rest of the campaign.
      </p>
      <p>
          Now that the cast of your story has been presented, it's time to introduce a story hook.
      </p>
      <p>
          A story hook is an event that triggers a call to action by the players. Some examples include:
      </p>
      <ul>
        <li>
            A strange man sits in the corner, and the barmaid tells each character that this man wants to talk to them.
        </li>
        <li>
            A fight breaks out. The player characters may join in, but at the end something is found in the debris that makes the players
            want to investiagte.
        </li>
        <li>
            The door swings open suddenly with a villager asking for some help against a terrible threat.
        </li>
    </ul>
      <p>
          Regardless of the hook, your players should now all be interested in finding out more, and now the campaign is on!
      </p>
      <h3>
          Encounters
      </h3>
      <p>
          Now that the players have been caught in your story hook, it's time to present them with challenges. After all, it is conflict
          that drives a story.
      </p>
      <p>
          Challenges might include: fighting monsters, sneaking past the guards, solving puzzles, or persuading the king to send his army somewhere.
      </p>
      <p>
          Lets focus on fighting monsters for now. We'll use the example of <i>The door swings open suddenly with a villager asking for some help against a terrible threat</i>            story hook from earlier.
      </p>
      <p>
          The characters each stand up to help the villager, who explains that goblins have taken his wife into the forest and he needs
          help getting her back.
      </p>
      <p>
          The characters enter the forest. What they meet there is up to you. Perhaps the goblins have prepared an ambush, or perhaps
          the characters walk through the forest until they see goblins cooking the villager's wife in a large cauldron.
          In any case, it's likely that a fight is about to begin.
      </p>
      <p>
          In the case of an ambush, ask your players to roll a <a routerLink="/srd/skills">perception check</a>. You can either
          assign a Difficulty to noticing the ambush, or roll a <a routerLink="/srd/skills">stealth check</a> for the goblins as
          a group to use as a Difficulty.
      </p>
      <p>
          Characters that rolled a higher perception than the Difficulty are allowed to participate in the surprise round. Players
          that rolled equal to, or less than, the Difficulty are surprised and cannot act during the first round.
      </p>
      <p>
          Have your players roll Initiatives. Meanwhile, roll Initiative for the goblins. You can either roll an individual Initiative
          for each goblin, or for them as a group.
      </p>
      <p>
          Begin with the character, or goblin, that rolled the highest Initiative. If they are currently surprised, skip them until
          everyone that isn't surprised has had their turn. Refer to the <a href="combat">combat page</a> for
          what actions they can do on their turn. A typical action involves using a weapon against a creature.
      </p>
      <p>
          For example, John's character "Rorrin", is not surprised, and decides to move to the closest goblin and takes a swing at
          it with his axe. John rolls an Attack roll. If the result of the roll exceeds the goblin's Defense, John gets
          to make a Damage roll for his axe. The goblins Energy is then reduced by the result of the Damage roll. If the
          goblin's Energy is reduced to 0 or less, the goblin is Incapacitated.
      </p>
      <p>
          On the goblin's turn, you control what the goblin does. Likely, you will just have the goblin retaliate by swinging his own
          weapon at Rorrin. Combat continues in this fashion until either: the goblins retreat, all of the goblins are
          incapacitated, or perhaps the players had to retreat.
      </p>
      <p>
          Once the characters are no longer under threat, the Encounter is considered ended. Now is the time to add expostion and set
          up the next story hook.
      </p>
      <p>
          As the dust settles, the villager (who had been hiding in the back during the encounter) pipes up. "These goblin attacks
          are getting worse and worse since the king moved his armies to the East. Thanks for taking care of them. Let's
          try and find my wife, and hope she's still alive!".
      </p>
      <p>
          With this you've presented more info about your world: the king has been moving his troops. This will hopefully make the
          players wonder what the king is up to, which you can use to lead them into getting more involved with the king
          later in the campaign. At the same time, there's another immediate call to action: "Let's try and find my wife...".
          This will lead the players into the next encounter that you've set up.
      </p>
      <h3>
          Dungeons
      </h3>
      <p>
          Dungeons are an easy way to chain together multiple encounters with minimal exposition needed. They can act as a flowchart from one encounter to the next.
          Read more about dungeons <a routerLink="dungeons">here.</a>
      </p>
      <p>
          
      </p>
  </article>
</section>

<div class="chapter-nav">
    <a routerLink="/srd/running-elixr">
        <i class="fa fa-angle-double-left"></i>
        Running Elixr
    </a>
    <a routerLink="/srd/running-elixr/campaigns/dungeons" class="pull-right">
        Dungeons
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>