<section>
    <article>
        <h2>
            Social Interaction
        </h2>
        <p>
            Interacting with the citizens of the world is an important part of Elixr. 
            From the shady inhabitants in the underbelly of the city, to the nobles in the high castles, your character is going to find themselves in the middle of them.
            Here are some guidelines to make interactions smooth.  
        </p>
        <h3>
            Role-Play First
        </h3>
        <p>
            Just because an actions can typically be resolved by rolling dice doesn't mean that should be your go to action.
        </p>
        <p>
            Realize that even though these characters are fictional (including your own!), that doesn't mean that they don't have wants, desires, motivations and personality.
        </p>
        <p>
            As you role-play, you state what your character does, as well as what they say. 
            Some player's enjoy getting more involved by acting as though they themselves are their character, which can include using a special voice and physically acting out their actions, where possible.
        </p>
        <p>
            Whatever the case may be, when you interact with others, it should be 'in-character', meaning that the words you use and attitude you convey would match up with those of your character. 
        </p>
        <h3>
            The Attitude Track
        </h3>
        <p>
            Sometimes, you the player just doesn't quite have the words or presence to properly persuade and appeal to the world inhabitants. 
        </p>
        <p>
            However, your character might! 
            Character's with a higher <a routerLink="/srd/abilities">Charm</a> are able to more easily get along with others, which means you can use the dice to see how an interaction plays out if unable to Role-Play it first.
        </p>
        <p>
            How an NPC perceives your character can be referenced with what is called the Ability Track, which looks like this:
        </p>
        <table class="lxr-table">
            <tr>
                <th>
                    <i>
                        Negative
                    </i>
                </th>
                <th colspan="3">
                    Attitude
                </th>
                <th>
                    <i>
                        Positive
                    </i>
                </th>
            </tr>
            <tr>
                <td>
                    Hostile
                </td>
                <td>
                    Untrusting
                </td>
                <td>
                    Neutral
                </td>
                <td>
                    Civil
                </td>
                <td>
                    Friendly
                </td>
            </tr>
            <tr>
              <th colspan="5">
                Difficulty Mod
              </th>
            </tr>
            <tr>
              <td>-4</td>
              <td>-2</td>
              <td>0</td>
              <td>+2</td>
              <td>+4</td>
            </tr>
        </table>
        <p>
            The GM decides what an NPC's starting Attitude towards your chacter is, but most people your character bumps into start at Neutral. 
        </p>
        <p>
            You can use a <a routerLink="/srd/skills">Diplomacy</a> check to shift an NPC's attitude one step on the Attitude track towards positive. 
        </p>
        <p>
            The GM will (secretly) roll a Diplomacy check for the character to determine the Difficulty of persuading them.
        </p>
        <p>
            Alternatively, the GM may simply assign wht the Difficulty should be for a particular NPC.
        </p>
        <p>
            If your Diplomacy check exceeds the Difficulty, the NPC's attitude moves one step in the positive direction.
        </p>
        <p>
            If your check is lower than the Difficulty minus 5, the NPC's attitude moves one step in the negative direction.
        </p>
        <p>
            The Attitude Track can also be used for interactions with animals, but in these cases the character uses the <a routerLink="/srd/skills">Animal Handling</a> skill instead of Diplomacy, and Animals usually begin at "Untrusting".
        </p>
        <p>
            Regardless of your diplomatic abilities, a creature cannot be persuaded to do something they simply would not have done regardless.
        </p>
        <p>
            For example, you can't tell someone to kill their loved ones. However, if your character finds out someone is considering murdering their wife, your character might persuade him to actually go through with it.
        </p>
        <h3>
            Charm Based Initiatives
        </h3>
        <p>
            Sometimes, everyone wants a chance to talk, and this leads to everyone talking at the same time. 
            To prevent this, the GM may call for a Charm Initiative.
        </p>
        <p>
            A Charm Initiative is 1d20 + a character's Charm Bonus.
        </p>
        <p>
            A Charm Initiative is similar to an Initiative used for combat, in the sense that turns are assigned in the order of the highest roll.
        </p>
    </article>
</section>

<div class="chapter-nav">
    <a routerLink="/srd/playing-elixr/combat">
        <i class="fa fa-angle-double-left"></i>
        Combat
    </a>
    <a routerLink="/srd/playing-elixr/exploration" class="pull-right">
        Exploration
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>