<section>

  <article>
    <h2>
      Healing
    </h2>
    <p>
      Chances are, someone is going to lose Energy in a fight. If a creature loses too much Energy, they can become Incapacitated,
      or worse, Dead.
    </p>
    <h3>
      Energy
    </h3>
    <p>
      Energy, amongst other things, is a measure of a creature's ability to fight, move, and "Keep Going", despite the stress they've
      endured.
    </p>
    <p>
      Certain events, such as having to dodge around an opponent's blade, or taking an arrow to the shoulder reduce a creature's
      Energy. This is typically the result of having taken Damage.
    </p>
    <h3>
      Incapacitated
    </h3>
    <p>
      If a creature's Energy becomes less than, or equal to, 0, they are considered Incapacitated.
    </p>
    <p>
      The following conditions apply to an Incapacitated creature:
    </p>
    <ul>
      <li>
        If the last blow that was dealt to the creature is lethal, the creature loses 1 Energy at the start of their turn for as
        long as they are Incapacitated.
      </li>
      <li>
        The creature falls prone and cannot stand up.
      </li>
      <li>
        The creature's Movement Speed is reduced to 5ft.
      </li>
      <li>
        The creature can only be heard by creatures that make a Perception check of 10 + 2 for every 5ft they are away from the incapacitated
        creature.
      </li>
      <li>
        The creature can only see clearly within 20ft. Objects and creatures outside that range appear blurred or as silhouettes.
      </li>
      <li>
        If the creature falls asleep while Incapacitated, they die. If a creature willing tries to fall asleep while Incapacitated,
        this indicates that they have accepted Death as their fate.
      </li>
    </ul>
    <p>
      Once an Incapacitated creature is healed for even one point of damage, even if the new Energy is still less than one, they
      stop losing Energy at the start of their turn. All of the other conditions continue to apply until the creature has
      at least 1 Energy.
    </p>
    <h3>
      Death
    </h3>
    <p>
      Once a creature's Energy is less than or equal to -10, the creature has died.
    </p>
    <p>
      The only way to bring a dead character back to life is through the Resurrection spell.
    </p>
    <h3>
      Restoring Energy
    </h3>
    <p>
      The most common way to restore lost Energy is to sleep. For each hour of sleep, one point of Energy is restored.
    </p>
    <p>
      A Medicine check that exceeds 15 + the damage sustained can be made to increase the target's Energy by 1. This healing check
      can only be done on the same creature once per hour.
    </p>
  </article>
</section>

<div class="chapter-nav">
  <a routerLink="/srd/playing-elixr/combat/actions">
        <i class="fa fa-angle-double-left"></i>
        Actions
    </a>
  <a routerLink="/srd/playing-elixr/social-interaction" class="pull-right">
        Social Interaction
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>