<table class="lxr-table padding-5 hover">
  <tr>
    <th>
      Name
    </th>
    <th>
      Attack Ability
    </th>
    <th>
      Damage Ability
    </th>
    <th>
      Damage
    </th>
    <th>
      Range
    </th>
    <th>
      Cost
    </th>
    <th>
      Weight
    </th>
    <th>
      Characteristics
    </th>
  </tr>
  <tbody *ngFor="let group of weaponGroupKeys">
    <tr>
      <th colspan="8">
        {{ group }}
      </th>
    </tr>
    <tr *ngFor="let weapon of weaponGroups[group]">
      <td>
        <a (click)="viewDetail(weapon)">
          {{ weapon.name }}
        </a>
      </td>
      <td>
        {{ formatAttack(weapon) }}
      </td>
      <td>
        {{ formatDamageAbility(weapon) }}
      </td>
      <td>
        {{ weapon.damage }}
      </td>
      <td>
        {{ formatRange(weapon) }}
      </td>
      <td>
        {{ formatCost(weapon) }}
      </td>
      <td>
        {{ weapon.weightInPounds }} lbs.
      </td>
      <td>
        {{ getWeaponCharacteristics(weapon) }}
      </td>
    </tr>
  </tbody>
</table>

<div class="slideout left" *ngIf="detailWeapon">
  <a (click)="cancelDetail()" class="close">x</a>
  <p *ngIf="forSelection">
    Tap the name to select Weapon.
  </p>
  <app-weapon-detail [forSelection]="forSelection" [weapon]="detailWeapon" (selected)="weaponChosen(detailWeapon)"></app-weapon-detail>
</div>