<div class="game-element">
  <div class="title" (click)="nameClicked()" [style.cursor]="forSelection ? 'pointer' : 'initial'">
    {{ weapon.name }}
  </div>
  <div class="body">
    <app-markdown-editor [canEdit]="false" [(model)]="weapon.description"></app-markdown-editor>
    <div>
      <div>
        <strong>
          Attack Ability:
        </strong> {{ attackAbility }}
      </div>
      <div>
        <strong>
          Damage Ability:
        </strong> {{ damageAbility }}
      </div>
      <div>
        <strong>
          Damage:
        </strong> {{ weapon.damage }}
      </div>
      <div>
        <strong>
          Range:
        </strong> {{ weapon.range }}ft
      </div>
    </div>
  </div>
</div>